@use '~/styles/_mixin' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto auto;
  padding: 0 24px;
  @include mq() {
    width: 720px;
  }
}

.header {
  padding: 24px 0;
  h1 {
    margin: 0;
    line-height: 1;
  }
}


.nav {
  padding: 0 0 24px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      padding: 8px 12px;
      &.current {
        border-bottom: 4px solid #374151;
      }
      a {
        text-decoration: inherit;
        &.current {

        }
      }
    }
  }
}

.main {
  padding: 0 0 24px;
}

.footer {
  width: 100%;
  padding: 36px 0;
  color: #fff;
  background-color: #375151;
  .inner {
    width: 90%;
    margin: 0 auto;
    padding: 0 24px;
    @include mq() {
      width: 720px;
    }
  }
}

.footer a:link,
.footer a:active,
.footer a:visited {
  color: #ffffff;
}